<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/review.css">
<%- include('../partials/nav') %>

<section>
  <h1>Item Reviews</h1>

  <ul>
    <% reviews.forEach(review => { %>
      <li>Item Name: <%= review.item %> </li>
      <li>Champion: <%= review.champions %> </li>
      <li>Tier: <%= review.tier %> </li>
      <li>Notes: <%= review.notes %> </li>
      <li> <%= review.owner.name %> </li>
      <% if (review.owner?.equals(user?.profile._id)) { %>
        <form action="/reviews/<%= review._id %>/edit" method="GET">
          <button class="btn" type="submit">Edit Review</button>
        </form>
        <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button class="btn" type="submit">Delete Review</button>
        </form>
        <form action="/reviews/<%= review._id %>" method="GET">
          <button class="btn" type="submit">DETAILS</button>
        </form>
        <% } %>
        <div class="space"></div>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>