<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Item Reviews</h1>

  <ul>
    <% reviews.forEach(review => { %>
      <li>Item Name: <%= review.item %> </li>
      <li>Champion: <%= review.champion %> </li>
      <li>Tier: <%= review.tier %> </li>
      <li>Notes: <%= review.notes %> </li>
      <li> <%= review.reviewer %> </li>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>