<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/review.css">
<%- include('../partials/nav') %>

<section>
  <h1>Item Reviews</h1>

  <ul>
    <% reviews.forEach(review => { %>
      <img class='profile-pic' src='<%= review.owner.avatar %>'>
      <li class="owner-name"> <%= review.owner.name %> </li>
      <li class="item-name"><strong>Item Name: </strong><%= review.item %> </li>
      <li><strong>Champions:</strong>
        <ul>
          <% review.champions?.forEach(champion => { %>
           <li class="champion-list"><%= champion.name %> </li>
          <% }) %>
        </ul>
      </li>
      <li><strong>Tier:</strong> <%= review.tier %> </li>
      <li><strong>Notes:</strong> <%= review.notes %> </li>
      <% if (review.owner?.equals(user?.profile._id)) { %>
        <form action="/reviews/<%= review._id %>/edit" method="GET">
          <button class="btn" type="submit">Edit Review</button>
        </form>
        <form action="/reviews/<%= review._id %>?_method=DELETE" method="POST">
          <button class="btn" type="submit">Delete Review</button>
        </form>
        <form action="/reviews/<%= review._id %>" method="GET">
          <button class="btn" type="submit">Add champion to review</button>
        </form>
        <% } %>
        <hr class="break">
        <div class="space"></div>
    <% }) %>
  </ul>
</section>

<%- include('../partials/footer') %>