<%- include('../partials/html-head') %>

<%- include('../partials/nav') %>
<section>
<% if (user) { %>
  <h2>Add a Review</h2>
  <form action="/reviews" method="POST" autocomplete="off">
    <label>Item Name:</label>
    <input type="text" name="item" autocomplete="off">

    <form id="add-per-to-champions" action="/champions/new" method="POST">
      <select name="championId">
        <% champions.forEach(champion => { %>
          <option value="<%= champion._id %>"><%= champion.name %></option>
        <% }) %>
      </select>
      <button type="submit">Add Champion</button>
    </form>

    <label>Tier(A-D):</label>
    <input type="text" name="tier" autocomplete="off">
    <label>Notes:</label>
    <input type="text" name="notes" autocomplete="off">
    <button class="btn" type="submit">Submit Review</button>
  </form>
<% } %>
</section>


<%- include('../partials/footer') %>