<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/reviewchampion.css">
<%- include('../partials/nav') %>
<main>
  <h1>Review Details</h1>
  <section>
    <div class="line"><strong>Item:</strong> <%= review.item %></div>
    <div class="line"><strong>Champion:</strong></div>
    <ul>
      <% review.champions.forEach(champion => { %>
        <li><%= champion.name %></li>
      <% }) %>
    </ul>
    <div><%= review.champion %></div>
    <div class="line"><strong>Tier:</strong> <%= review.tier %></div>
    <div class="line"><strong>Notes:</strong> <%= review.notes %></div>
    <div class="line"><strong>Owner:</strong> <%= review.owner.name %></div>
  </section>
  <form id="add-per-to-champions" action="/reviews/<%= review._id %>/champions" method="POST">
    <select name="championId">
      <% champions.forEach(champion => { %>
        <option value="<%= champion._id %>"><%= champion.name %></option>
      <% }) %>
    </select>
    <button type="submit">Add Champion</button>
  </form>
</main>



<%- include('../partials/footer') %>